# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/FireAndForget.v2/.vs/FireAndForget.v2/v15
/FireAndForget.v2/x64/Debug/FireAndForget.v2.tlog
/FireAndForget.v2/x64/Debug
